body {
    background-color: lightblue;
    color: aliceblue;
}

h1 {
    color: aquamarine;
}

p {
    color: cornflowerblue;
}

img {
    border-radius: 50%;
}

#special {
    color: #F5F5DC;
    background-color: #6495ED;
}

#yap {
    color: #F0F8FF;
}

hr {
    border: 2px blue;
}

#line {
    color: blue;
}

ol{color: cadetblue;}

ul{color: darkcyan;}